*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display:flex;
    position:fixed;
    height:5rem;
    width:100%;
    background: black;
    justify-content: flex-start;
}

.burger{
    margin:1.5rem;
    color:white;
    font-size:2rem;
    z-index: 1000;
}


main{
    position:absolute;
    margin-top:5rem;
}

p{
    margin:3rem 
}